<div class="prodContainer"
     [class] = "products.onsale ? 'prodContainer sale': ''"
     >
    <div class="image">
      <img [src]="products.image" alt="Image" height="50px" width="50px">
    </div>
    <div class="name">
       Name: {{products.name}}
    </div>
    <div class="price">
      Price: Ksh {{products.price}}
    </div>
    <div>
        <button
          *ngIf="products.quantityInCart > 0"

                (click) = "decreamentCart()">-</button>
      <select>
        <option *ngFor="let qty of quantities; index as i" [value]="qty"> {{qty}}</option>
      </select>
        <span>Items in cart: {{products.quantityInCart}}</span>
        <button
            (click) = "increamentCart()">+</button>
    </div>
</div>
